{% extends "base.html" %}

{% block content %}
	<h1>About</h1>

	<p>The Fractal Narratives project arose out of <a href="http://www.strangehypertexts.org">StrangeHypertexts.org</a>, a site where we are keen to explore new and unusual methods of digital storytelling, and form a community of technologists and creatives with an interest in the potential for new methods of narrative expression on the web. Fractal narratives represents an example of strange hypertext, where stories may be constructed, expressed, and consumed in an unconventional manner where link expand the page rather then move to a different one.</p>
	<p>Rather then being truly fractal the system allows the user to expand or "drill down" into additional nodes within the narrative where ever they choose. This allows the author to add detail or elaborate on a scene where ever they choose rather then forcing them to expand evenly across the story. We hope, as well as to encourage new forms of digital storytelling, to gain an insight into how this approach effects the poetics of the resulting narratives and some idea of the impact of the fractal nature on the creation and reading of these stories.</p>
	<h1>The Team</h1>
	<div class="team">
		<div class="team_left">
			<img class="figure" src="/static/images/team/dave.jpg"/>
		</div>
		<div class="team_right">
			<h2>David Millard</h2>
			<p>David Millard is a Senior Lecturer of Computer Science at the University of Southampton. He has been involved in Hypertext and Web research for 14 years, initially in Open and Contextual hypermedia and more recently with Web 2.0, Semantic Web, Knowledge Ergonomics, and the emerging discipline of Web Science.</p>
		</div>	
		<div class="clear"/>
	</div>
	<div class="team">
		<div class="team_left">
			<img class="figure" src="/static/images/team/matt.jpg"/>
		</div>
		<div class="team_right">
			<h2>Matt R Taylor</h2>
			<p>Matt R Taylor is a software developer at the University of Southampton and the creator of fractalnarratives.org. As part of the OneShare team, he usually works in the field of Open Data and Repositories.  However, the concept of Fractal Narratives appeals to his creative side and he has been heavily invested in the project since its inception.</p>
		</div>	
		<div class="clear"/>
	</div>
	<div class="team">
		<div class="team_left">
			<img class="figure" src="/static/images/team/charlie.jpg"/>
		</div>
		<div class="team_right">
			<h2>Charlie Hargood</h2>
			<p>Charlie Hargood is a Computer Science Research Fellow at the University of Southampton. His PhD was on semiotic term expansion for a thematic model foruse in narrative systems, and his research interests cover digital storytelling, hypertext, and narrative generation. After running a workshop at Hypertext 2011 Charlie set up strangehypertexts.org which led to the fractal narratives project.</p>
		</div>	
		<div class="clear"/>
	</div>

	<div class="team">
		<div class="team_left">
			<img class="figure" src="/static/images/team/mike.jpg"/>
		</div>
		<div class="team_right">
			<h2>Mike Jewell</h2>
			<p>Mike Jewell is a Computer Science Research Fellow at the University of Southampton. He has long been involved with Narrative Systems research and is particularly interested in semantic narratives, and shared vocabularies for narrative annotation, and was a key part of the Ontomedia project. Mike was significantly involved in the design and development of the original fractal narratives system.</p>
		</div>	
		<div class="clear"/>
	</div>
{% endblock %}
