{% extends "base.html" %}

{% block content %}
	<h1>Introduction</h1>
	<p>Fractal Narratives represent an innovative approach to digital storytelling that allows the creation of stories that can be read at any level of detail. Unlike conventonal stories, which are linearly constrained, Fractal Narratives are composed of multiple layers of narrative.</p>

	<p>Each new layer provides the reader with additional insight into the characters and events of the story. However, what makes a Fractal Narrative truly unique is the level of control the reader has over how this detail is exposed. Any individual part of the story can be expanded without significantly affecting the overall structure of the narrative.</p>
	<h1>Getting Started</h1>
	<p>Fractal Narratives can be a difficult concept at first, so there's a more detailed explanation of how they work <a href="/help">here</a>. You'll then be ready to start reading some of the stories that have already been published on our <a href="/story/index">stories</a> page.</p>
	<p>If you're feeling creative, you can register <a href="/account/register">here</a> and start authoring your own Fractal Narratives!</p>
{% endblock %}
