{% extends "base.html" %}
{% load fractal from fractal_tag %}

{% block head %}
	<script type="text/javascript" src="/static/javascript/randomiser.js"></script>
	<script type="text/javascript" src="/static/javascript/jquery.textarea-expander.js"></script>

{% endblock %}

{% block content %}
<div class="story_box">
	<img class="story_illustration" src="/static/illustrations/{{story.id}}.jpg" alt="no illustration">
	<div class="story_info">
		<div class="story_title_div">
			<span class="story_title" href="/story/{{story.id}}">{% if story.latest.title %}{{story.latest.title}}{% else %}Untitled story{% endif %}</span>
			by <a href="/user/{{story.owner.username}}/">{{story.owner.username}}</a>
		</div>

		<p>{{story.latest.description}}</p>
	</div>
	<div class="clear"></div>
</div>


<div id="randomiser">
	{{ story.latest.xml_data|fractal }}
</div>
<hr>
<h1>What is this?</h1>

<p>This story was created by traversing the Fractal Narrative structure to provide a story with randomized detail at each element. The intention is to ascertain the coherence of the story at arbitrary resolutions.</p>
	<p>You can produce a new random version of this story by refreshing the page.</p>
{% endblock %}
