<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Strange Hypertexts - Fractal Narratives</title>
		<link href="/static/css/reset.css" rel="stylesheet" type="text/css"/>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica&v2' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Varela+Round&v2' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/static/javascript/jquery.min.js"></script>
		<script type="text/javascript" src="/static/javascript/utility.js"></script>
		{% block head %} {% endblock %}
	</head>
	

	<body>
		<div id="wrapper">
			<div id="header">
				<h1>Fractal Narratives</h2>
				<h2>Stories at every scale</h2>
			</div>
			{% include "navbar.html" %}
			<div id="content">
				<noscript>
					<div style="border:2px solid black;padding:10px;margin-bottom:10px;background:red;font-weight:bolder;">
						<p style="font-size:24px">You currently have javascript disabled on your browser.</p>
						The interactive tools provided on fractalnarratives.org function entirely using javascript. Unless you have javascript enabled you will not be able to use this site. Sorry...
					</div>
				</noscript>
				{% block content %} {% endblock %}
			</div>		
		<div id='footer'>
			<p>&copy; Copyright 2011 | <a href="http://blogs.ecs.soton.ac.uk/oneshare">OneShare</a> | <a href="http://www.ecs.soton.ac.uk">ECS</a> | <a href="http://www.soton.ac.uk">University of Southampton</a></p>
		</div>
	</div>
</body>
</html>		 
